$brightcyan: hsl(172, 67%, 45%);
$selectedcyan: #9fe8df;
$verydarkcyan: hsl(183, 100%, 15%);
$logokleur: #3d6666;
$darkgrayishcyan: hsl(186, 14%, 43%);
$middlegrayishcyan: hsl(184, 14%, 56%);
$placeholder: #9ebbbd;
$lightgrayishcyan: hsl(185, 41%, 84%);
$light: hsl(189, 41%, 97%);
$white: #ffffff;
$red: #b57b6d;
